/* *{
    text-align: center;
    background-color: burlywood;
} */
/* .icon{
    width: 500px;
    height: 200px;
}

.x{
    height: 800px;
    width: 800px;
    background-color: blue;
}
.y{
    height: 400px;
    width: 400px;
    background-color: cadetblue;
}
.z{
    height: 200px;
    width: 200px;
    background-color: cornsilk;
} */
/* #taskdiv{
    display: flex;
    justify-content: space-around;
    

} */

/* #taskid{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

#mainproducttab{
    
    display: flex;
    justify-content: space-evenly;
}
.child{
    border: 1px black solid;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    text-align: center;
}
 #apptext{
    text-align: center;
   
 }


 

#Ticket{
    display: flex;
    border: black 1px solid;
    width: 300px;
    border-radius: 50px;
    

}
#headerrouting{
   background: #000;
   
}
#footerting{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
#headerrouting ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
#headerrouting li{
    list-style: none;
    color: white;
}
#placeholder{
    background: palevioletred;
    margin-bottom: 15px;
}
form input{
   height: 30px;
   width: 800px;
   border-radius: 10px;
   margin-left: 50px;
   margin-bottom: 20px;
}
form,h2{
    text-align: center;
}
form label{
    display: block;
    font-size: larger;
}
form button{
    height: 50px;
    width: 150px;
    border-radius: 23px;
    background-color: white;
    color: palevioletred;
    border: 1px solid black;
    position: relative;
    top: 50px;
    left: 15px;
} */

/* kampuspay styles */